<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Đăng nhập</title>
  <link rel="stylesheet" href="/admin/css/auth/login.css">
</head>
<body>
  <form id="loginForm">
    <h1>Đăng nhập Admin </h1>
    <input type="text" name="username" placeholder="Tên tài khoản" required /><br>
    <input type="password" name="password" placeholder="Mật khẩu" required /><br>
    
    <button type="submit">Đăng nhập</button>
     <p id="message"></p>
    
  </form>
  <script src="/admin/js/auth.js"></script>
</body>
</html>
