<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Đăng ký</title>
  <link rel="stylesheet" href="/client/css/auth/register.css">
</head>
<body>
    
<form id="registerForm" action="/register" method="POST">
  <h1>Đăng ký</h1>
  <input type="text" name="username" placeholder="Tên tài khoản" required><br>
  <input type="password" name="password" placeholder="Mật khẩu" required><br>
  <input type="password" name="confirmPassword" placeholder="Xác nhận mật khẩu" required><br>
  <input type="text" name="name" placeholder="Họ và tên" required><br>
  <input type="email" name="email" placeholder="Email" required><br>
  <input type="date" name="birthday" required><br>
  <input type="text" name="phone" placeholder="Số điện thoại" required><br>
  <input type="text" name="address" placeholder="Địa chỉ" required><br>

  <div class="gender-group">
    <span>Giới tính:</span>
    <label><input type="radio" name="gender" value="Nam" checked> Nam</label>
    <label><input type="radio" name="gender" value="Nữ"> Nữ</label>
  </div>

  <p id="message" style="color:red;"></p>
  <button type="submit">Đăng ký</button>
</form>
  <script src = "/client/js/auth/auth.js"></script>
</body>
</html>